:root .append-moving-dots:after {
  content: ' .';
  animation: dots 3s steps(1, end) infinite;
}
@keyframes dots {
  0%, 12.5% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    text-shadow: .5em 0;
  }
  50% {
    text-shadow: .5em 0, 1em 0;
  }
  62.5% {
    text-shadow: .5em 0, 1em 0, 1.5em 0;
  }
  75% {
    text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0;
  }
  87.5%, 100%{
    text-shadow: .5em 0, 1em 0, 1.5em 0, 2em 0, 2.5em;
  }
}
